<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/estilos.css">

    <title>Farmacia Online :: Fechamento da Compra</title>
</head>

<body>
    <div class="d-flex flex-column wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger border-bottom shadow-sm mb-3">
            <div class="container">
                <a class="navbar-brand" href="/home"><b>Farmacia Online</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/home">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/contato">Contato</a>
                        </li>
                    </ul>
                    <div class="align-self-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/cadastro" class="nav-link text-white">
                                    <b><%= JSON.stringify(user.nome) %></b>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/login" class="nav-link text-white">Sair</a>
                            </li>
                            <li class="nav-item">
                                <span class="badge rounded-pill bg-light text-danger position-absolute ms-4 mt-0"
                                    title="5 produto(s) no carrinho"><small>5</small></span>
                                <a href="/carrinho" class="nav-link text-white">
                                    <i class="bi-cart" style="font-size:24px;line-height:24px;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <main class="flex-fill">
            <div class="container">
                <h1>Finalizando seu pedido</h1>
                

                <h1>Dados da Entrega</h1>
                <!--h3 class="mb-4">
                    Selecione o endereço de entrega e clique em <b>Continuar</b> para prosseguir para a <b>seleção da
                        forma de pagamento</b>.
                </h3-->
                            <h3>                                              
                                Nome: <b><%= user.nome %></b><br>
                                <h4>Telefone: <%= user.telefone %></h4>
                                <h4>Endereço: </h4>
                                <h4>Rua: <%= user.rua %> <%= user.numero %></h4>
                                <h4>Cep: <%= user.cep %></h4>
                                <h4>referencia: <%= user.referencia %></h4>
                            </h3>                   
                            <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-auto">
                                <h2></h2>
                                <div class="text-end">
                                    <h4 class="text-dark mb-3">
                                        Itens
                                </div> 
                                <h4>    
                            <table>
                                <tr><td>Item</td><td>valor</td><td>Quantidade</td><td>Total</td></tr>
                                <% for(var i=0; i<carrinho.length; i++) {%>   
                                    <tr><td><%= JSON.stringify(carrinho[i].prodnome) %></td><td><%= JSON.stringify(carrinho[i].valor) %></td><td><%= JSON.stringify(carrinho[i].prodqtt) %></td><td><%= JSON.stringify(total_item[i].valor) %></td></tr>
                                <% } %>
                    
                            </h4>
                            </table>
                            </div>
                    <!-- item carrinho-->          
                </ul>
                <ul>                             
                    <div class="text-end">
                        <h4 class="text-dark mb-3">
                          Valor total do carrinho: <%= JSON.stringify(total_cart) %>
                    </div>                
                <div class="text-end">
                    <h4 class="text-dark mb-3">
                        Taxa de entrega : 10.00
                </div> 
                <div class="text-end">
                    <h4 class="text-dark mb-3">
                      Total com frete: <%= JSON.stringify(total_frete) %>
                </div>     
                <h3><b>Seleção de pagamento e entrega</b></h3>
                <ul class="list-group mb-3">
                    <h4>
                    <form action="/add_pedido" method="post" >
                        <input type="hidden" id="total_cart" name="total_cart" value="<%= JSON.stringify(total_cart) %>" >
                        <input type="hidden" id="valor_total" name="valor_total" value="<%= JSON.stringify(total_frete) %>" >

                        <p>Selecione a forma de pagamento </p>
                        
                      <input type="radio" id="pagamento" name="pagamento" value="DINHEIRO">
                      <label for="DINHEIRO">Dinheiro</label><br>
                      
                        <input type="radio" id="pagamento" name="pagamento" value="Pix">
                      <label for="Pix">Pix</label><br>
                        
                        <input type="radio" id="pagamento" name="pagamento" value="CREDITO">
                      <label for="CREDITO">Credito</label><br>
                        <input type="radio" id="pagamento" name="pagamento" value="Debito">
                      <label for="Debito">Debito</label><br>  
                        
                      
                        <p>Selecione a entrega</p>
                        <input type="radio" id="valor_frete" name="valor_frete" value="0">
                        <label for="valor_frete">Retirar</label><br>
                        <input type="radio" id="valor_frete" name="valor_frete" value="10">
                        <label for="age2">Motoboy (frete R$ 10.00 , somente bertioga )</label><br> 
                        
                            <div class="text-end">
                                <a href="/fechamento_itens" class="btn btn-outline-success btn-lg mb-4">
                                    Voltar
                                </a> 
                                <input type="submit" name="submit_button" class="btn btn-lg btn-danger" value="Continuar"> 
                            </div>
                         
                        <!--input type="submit" value="Submit"-->
                      </form>
                    </h4> 
                    <!-- botoes do final -->
                </ul>
            </div>
        </main>

        <footer class="border-top text-muted bg-light">
            <div class="container">
                <div class="row py-3">
                    <div class="col-12 col-md-4 text-center">
                        &copy; 2022 - Dkfarma - Esi Comercio Varejista De Produtos Farmaceuticos Ltda<br>
                        Rua Teotônio, 267, Compulândia/PC <br>
                        CPNJ46.183.402/0001-70
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <a href="/privacidade" class="text-decoration-none text-dark">
                            Política de Privacidade
                        </a><br>
                        <a href="/termos" class="text-decoration-none text-dark">
                            Termos de Uso
                        </a><br>
                        <a href="/quemsomos" class="text-decoration-none text-dark">
                            Quem Somos
                        </a><br>
                        <a href="/trocas" class="text-decoration-none text-dark">
                            Trocas e Devoluções
                        </a>
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <a href="/contato" class="text-decoration-none text-dark">
                            Contato pelo Site
                        </a><br>
                        E-mail: <a href="mailto:dayvsonhs@gmail.com" class="text-decoration-none text-dark">
                            dayvsonhs@gmail.com
                        </a><br>
                        Telefone: <a href="phone:28999990000" class="text-decoration-none text-dark">
                            (13) 9622-5594

                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>